html,
body {
    font-family: "Lato", "Helvetica", sans-serif;
    margin: 0;
}

main {
    color: $colorSupport;
    font-size: $unitBase;
}

section {
    margin: auto;
    max-width: $unitBase * 50;
    padding: $unitBase;
}

.next-event {
    article {
        margin-top: $unitBase * 4;
        max-width: $unitBase * 20;

        h1 {
            margin: 0;
        }

        h3 {
            margin: 0;
        }

        h4 {
            margin: 0;
        }

        p {
            margin: ($unitBase * 2) 0 ($unitBase * 3);
        }
    }
}

.about {
    justify-content: flex-end;
    display: flex;

    article {
        max-width: $unitBase * 20;
    }
}

.consoles {
    margin-top: $unitBase * 2;

    h2 {
        text-align: center;
    }
    div {
        display: flex;
        justify-content: space-between;

        article {
            flex-grow: 1;
            margin: 0 ($unitBase * 2);

            h3 {
                text-align: center;
            }

            p {
                text-align: left;
            }
        }
    }
}

footer {
    background: url(#{$assetPath}background-footer.svg) no-repeat center bottom;

    margin-top: $unitBase * 5;

    [role="register"] {
        text-align: center;

        h4 {
            margin-bottom: $unitBase;
        }

        h2 {
            margin-top: 0;
        }
    }

    section + section {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: $unitBase * 10;
        max-width: inherit;

        p {
            flex-grow: 1;
            width: 25%;
        }

        nav {
            display: flex;
            flex-grow: 2;
            justify-content: center;
            margin: auto;
            width: 50%;

            a {
                margin: 0 ($unitBase / 2);
            }
        }

        p ~ p {
            text-align: right;
        }
    }
}

@media all and (max-width: ($unitBase * 42)) {
    .consoles {
        div {
            flex-wrap: wrap;

            article {
                margin: 0 0 $unitBase;

                h3 {
                    text-align: left;
                }
            }
        }
    }

    footer section + section {
        flex-wrap: wrap;
        margin-top: $unitBase * 5;
        padding-bottom: $unitBase;

        p, p ~ p {
            margin: 0;
            order: 2;
            text-align: center;
            width: 100%;
        }

        nav {
            margin-bottom: $unitBase * 2;
            order: 1;
            width: 100%;
        }
    }
}
