html,
body {
    font-family: "Lato", "Helvetica", sans-serif;
    margin: 0;
}

main {
    color: $colorSupport;
    font-size: $unitBase;
}

section {
    margin: auto;
    max-width: $unitBase * 50;
    padding: $unitBase;
}

.next-event {
    article {
        max-width: $unitBase * 20;

        h1 {
            margin: 0;
        }

        h3 {
            margin: 0;
        }

        h4 {
            margin: 0;
        }

        p {
            margin: ($unitBase * 2) 0 ($unitBase * 3);
        }
    }
}

[role="about"] {

    > article:first-child {
        max-width: $unitBase * 20;
    }
}
