nav[role="navigation"] {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $unitBase;
    position: sticky;
    top: 0;

    a {
        align-items: center;
        display: flex;
        text-decoration: none;

        svg:first-child {
            margin-right: $unitBase;
        }
    }

    svg {
        height: $unitBase * 2;
        width: $unitBase * 2;
    }

    [role="button"] {
        font-size: $unitBase / 1.2;
    }
}

@media all and (max-width: ($unitBase * 64)) {
    nav[role="navigation"] {
        background: $colorBackground;
        border-bottom: 1px solid lighten($colorSupport, 60%);
    }
}
